<p id="notice"><%= notice %></p>

<p>
  <strong>Adult:</strong>
  <%= @video_model.adult %>
</p>

<p>
  <strong>Backdrop path:</strong>
  <%= @video_model.backdrop_path %>
</p>

<p>
  <strong>Belongs to collection:</strong>
  <%= @video_model.belongs_to_collection %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @video_model.budget %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @video_model.homepage %>
</p>

<p>
  <strong>Id:</strong>
  <%= @video_model.id %>
</p>

<p>
  <strong>Imdb:</strong>
  <%= @video_model.imdb_id %>
</p>

<p>
  <strong>Original language:</strong>
  <%= @video_model.original_language %>
</p>

<p>
  <strong>Original title:</strong>
  <%= @video_model.original_title %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @video_model.overview %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @video_model.popularity %>
</p>

<p>
  <strong>Poster path:</strong>
  <%= @video_model.poster_path %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @video_model.release_date %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @video_model.revenue %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @video_model.runtime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @video_model.status %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @video_model.tagline %>
</p>

<p>
  <strong>Video:</strong>
  <%= @video_model.video %>
</p>

<p>
  <strong>Vote average:</strong>
  <%= @video_model.vote_average %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @video_model.vote_count %>
</p>

<%= link_to 'Edit', edit_video_model_path(@video_model) %> |
<%= link_to 'Back', video_models_path %>
